# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# PyTorch
*.pt
*.pth

# Local Models
assets/models/

# Cache
.cache/