accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-types
anthropic
anyio
appnope
asttokens
attrs
backcall
backoff
beautifulsoup4
bleach
bracex
cbor
certifi
cffi
charset-normalizer
click
colorama
comm
cryptography
dataclasses-json
datasets
debugpy
decorator
deepagents
defusedxml
dill
distro
docopt
docstring_parser
docx
emoji
executing
fastjsonschema
filelock
filetype
FlagEmbedding
frozenlist
fsspec
google-auth
google-genai
greenlet
grpcio
h11
hf-xet
html5lib
httpcore
httpx
httpx-sse
huggingface-hub
idna
ijson
inscriptis
ipykernel
ipython
ipython_pygments_lexers
ir_datasets
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
langchain
langchain-anthropic
langchain-classic
langchain-community
langchain-core
langchain-deepseek
langchain-google-genai
langchain-huggingface
langchain-mcp-adapters
langchain-openai
langchain-protocol
langchain-tavily
langchain-text-splitters
langdetect
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt
langgraph-sdk
langsmith
lxml
lz4
Markdown
MarkupSafe
marshmallow
matplotlib-inline
mcp
mistune
mpmath
multidict
multiprocess
mypy_extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
numpy
olefile
openai
orjson
ormsgpack
packaging
pandas
pandocfilters
parso
peft
pexpect
pickleshare
pillow
pip
platformdirs
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydantic-settings
Pygments
PyJWT
pymilvus
pypdf
python-dateutil
python-docx
python-dotenv
python-iso639
python-magic
python-multipart
python-oxmsg
pytz
PyYAML
pyzmq
RapidFuzz
referencing
regex
requests
requests-toolbelt
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
setuptools
six
sniffio
soupsieve
SQLAlchemy
sqlite-vec
sse-starlette
stack-data
starlette
sympy
tavily
tenacity
threadpoolctl
tiktoken
tinycss2
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
trec-car-tools
typing_extensions
typing-inspect
typing-inspection
tzdata
unlzw3
unstructured
unstructured-client
urllib3
uuid_utils
uvicorn
warc3-wet
warc3-wet-clueweb09
wcmatch
wcwidth
webencodings
websockets
wheel
wrapt
xxhash
yarg
yarl
zlib-state
zstandard